
.container {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 60vh;
}
.facebook {
    display:inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid #4267B2;
    box-sizing: border-box;
    border-radius: 50%;
    
}
.fa-square-facebook {
    font-size: 50px;
    padding:26%;
    color: 	#4267B2;
}
.twitter {
    display:inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid #1DA1F2;
    box-sizing: border-box;
    border-radius: 50%;
}
.fa-twitter {
    font-size: 50px;
    padding:26%;
    color: #1DA1F2;
}
.instagram {
    display:inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid #3f729b;
    box-sizing: border-box;
    border-radius: 50%;
}
.fa-instagram{
    font-size: 50px;
    padding:25%;
    color:  #3f729b;
}
.linkedin{
    display:inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid #0077b5 ;
    box-sizing: border-box;
    border-radius: 50%;
}
.fa-linkedin{
    font-size: 50px;
    padding:25%;
    color:  #0077b5 ;
}
.user{
    display:inline-block;
    width: 100px;
    height: 100px;
    border: 5px solid #03249b ;
    box-sizing: border-box;
    border-radius: 50%;
}
.fa-user-large{
    font-size: 50px;
    padding: 24%;
    color:  #03249b ;
}